* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', serif;
    text-transform: lowercase;
    
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FFE3CB;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 999;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFE3CB;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
    
    .logo {
    	padding-left: 5px;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}


.bio {
    margin: 15px;
    text-align: center;
}

.gallery {
    margin: auto;
    width: 105%;
    padding-left: 3%;
}

@media screen and (max-width:5200px) {
    .item .price {
        font-size: 40px;
        padding-top: 5%;
    }
}

@media screen and (max-width:800px) {
    .item .title {
        font-size: 8px;
    }
    .item .price {
        font-size: 20px;
        padding-top: 0px;
    }
}

.item {
    border: none;
    width: 30%;
    padding: 10px;
    margin: auto;
    display: inline-block;
    position: relative;
    text-align: center;
    
    background-color: white;
    background-color: transparent white;
}

.item:hover .img-front {
    opacity: 0.3;
}

.item .price {
    display: none;
    position: absolute;
    text-align: center;
    
    line-height: 50px;
    width: 100px;
    height: 50px;
    top: 35%;
    left: 50%;
    margin-left: -50px;
    margin-top: -25px;
}

.item:hover .price {
    display: inline;
}

.item img {
    width: 100%;
    height: auto;
    cursor: default;
}

img {
    border-radius: 50%;
}

body, html {
    height: 100%;
    margin: 0%;
}

.bg {
    background-image: url("images/korzinki.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo:hover {
    cursor: pointer;
}
